.user{
    width: 500px;
    height: 500px;
}

.name{
    color: red;
    font-size: 50px;
}

.profilePic{
    width: 80%;
    height: 80%;
}

.deposit{
    color: green;
}

.withdraw{
    color: red;
}