.navBar {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navBar div {
  position: relative;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  left: 20%;
}

.navBar div:hover {
  color: #fddb3a;
}

.navBar .logo{
  position: relative;
  color: red;
  left: 70%;
}
